body, html {
    padding: 0px;
    margin: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(30deg, #560090 5%, black 60%);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

#mainDiv {
    width: 100%;
    height: 100%;
}

#loginDiv {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

#loginDivContent {
    background: #140021;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    max-height: 500px;
    height: 90%;
    opacity: 0.8;
    border-radius: 10px;
}

#ulLogin{
    width: 100%;
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    height: 100%;
    border-radius: 10px;
}

    #ulLogin li:nth-of-type(1) {
        /*background: green;*/
        width: 50%;
        background: url('/Resources/neonbglogin.png');
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        background-repeat: no-repeat;
    }

    #ulLogin li:nth-of-type(2) {
        /*background: lime;*/
        width: 50%;
        background: linear-gradient(-130deg, #560090 5%, #140021 40%);
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        overflow-y: auto;
    }

#ulRegister {
    width: 100%;
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    height: 100%;
    border-radius: 10px;
}

    #ulRegister li:nth-of-type(1) {
        /*background: green;*/
        width: 50%;
        background: #560090;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        overflow-y: auto;
    }

    #ulRegister li:nth-of-type(2) {
        /*background: lime;*/
        width: 50%;
        background: url('/Resources/neonbglogin.png');
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        background-repeat: no-repeat;
    }

#logoImg{
    background: url('/Resources/neonlogo.png');
    width: 90%;
    max-width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    background-size:cover;
    margin-top: 35px;
    margin-bottom: 30px;
}

#logoImgReg {
    background: url('/Resources/neonlogo.png');
    width: 90%;
    max-width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    margin-top: 0px;
    margin-bottom: 30px;
}

#divLoginForm {
    background: transparent;
    text-align: center;
}

#divRegisterForm {
    background: transparent;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 20px;
}

.loginInput {
    margin: 5px;
    width: 90%;
    max-width: 300px;
    border-radius: 10px;
    border: solid 2px #9900ff;
    height: 40px;
    background: #140021;
    color: #9900ff;
    text-align: center;
    font-size: 15px;
}

#btnLogin {
    width: 90%;
    max-width: 150px;
    margin-top: 15px;
    height: 35px;
    border-radius: 10px;
    background: #9900ff;
    font-weight: bold;
    font-size: 15px;
}

#noteBringer {
    color: #9900ff;
    font-size: 13px;
    margin-top: 15px;
    margin-bottom: 20px;
}

#noteBringerRegister {
    color: #140021;
    font-size: 13px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.link_mod {
    color: #9900ff;
}

#divHome {
    background: transparent;
    width: 100%;
    min-height: 60px;
}

#ulHome {
    height: 100%;
    display: flex;
    width: calc(100% - 20px);
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
}

#ulHome li{
    width: 100px;
}

#ulHome li:first-of-type{
    display: flex;
    flex-direction: row;
    width: 90%;
    max-width: 150px;
}

#logoHome {
    background: url('/Resources/neonlogo.png');
    background-size: cover;
    width: 50px;
    height: 50px;
}

#labelHome {
    color: #9900ff;
    height: 100%;
    max-height: calc(60px - 8px);
    width: calc(100% - 50px);
    text-align: left;
    padding-top: 8px;
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
    text-decoration: none;

}

#linksHome {
    color: #9900ff;
    height: 100px;
    width: calc(100% - 50px);
    text-align: left;
    padding-top: 8px;
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
    cursor: pointer;
    text-decoration: none;
}

#divliLink{
    height: 100%;
    max-height: 60px;
    padding-top: 8px;
}

#divContent{
    width: 100%;
    height: calc(100% - 60px);
}

#ulContent{
    width: 100%;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
}

#ulContent li:first-of-type{
    width: 300px;
}

#ulContent li:last-of-type{
    width: calc(100% - 300px);
}

#divCreateContent{
    margin-top: 20px;
    width: 100%;
}

#labelCreateContent{
    color: #9900ff;
    font-size: 15px;
    font-weight: bold;
}

#inputSubject{
    width: 90%;
    border-radius: 10px;
    height: 40px;
    border: solid 1px #9900ff;
    background: #140021;
    color: #9900ff;
    font-size: 15px;
    text-align: center;
}

#inputContent {
    width: 90%;
    margin-top: 15px;
    border-radius: 10px;
    height: 150px;
    min-height: 150px;
    background: #140021;
    border: solid 1px #9900ff;
    color: #9900ff;
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

#btnAddNote {
    width: 150px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: solid 2px #560090;
    background: #9900ff;
    color: #140021;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
}

#divFormCreateContent {
    width: 100%;
    text-align: center;
}

#divExistingContent{
    width: 100%;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    height: calc(100vh - 60px);
    overflow-y: auto;
    padding-bottom: 20px;
}

#ulExistingContent {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
}

.mainDivContent {
    width: 230px;
    background: #140021;
    margin: 10px;
    color: #9900ff;
    box-shadow: 0px 5px 5px #9900ff;
    border-radius: 10px;
    padding: 10px;
    height: fit-content;
    min-height: 200px;
    overflow: hidden;
}

.noteContentLabel {
    font-size: 15px;
    min-height: 100px;
    text-align: justify;
}

.dateLabel{
    position: relative;
    bottom: 0;
    font-size: 12px;
}

#btnLogout{
    width: 100px;
    height: 32px;
    font-size: 12px;
    border-radius: 10px;
    background: red;
    border: solid 2px #9900ff;
    color: #140021;
    font-weight: bold;
}

.btnNavContent{
    background: orange;
    color: #140021;
    border: solid 1px orange;
    border-radius: 5px;
    text-align: center;
    margin: 2px;
    width: 30px;
    opacity: 0.8;
}

    .btnNavContent:last-of-type {
        background: red;
        border: solid 1px red;
        color: #140021;
    }

.spanBtns{
    margin-bottom: 10px;
}

.subjectLabel {
    font-weight: bold;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #9900ff;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #9900ff;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #9900ff;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #560090;
}

/* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #9900ff;
    }

@media screen and (max-width: 720px) {
    #ulLogin {
        flex-direction: column;
    }

        #ulLogin li:nth-of-type(1) {
            width: 100%;
            height: 300px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 0px;
            border-top-right-radius: 10px;
            background: url('/Resources/neonbgloginvertical.png');
        }

        #ulLogin li:nth-of-type(2) {
            width: 100%;
            min-height: 200px;
            background: linear-gradient(-30deg, #560090 5%, #140021 40%);
            border-top-right-radius: 0px;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
        }

    #ulRegister {
        flex-direction: column;
        height: auto;
    }

        #ulRegister li:nth-of-type(1) {
            width: 100%;
            min-height: 300px;
            height: auto;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 0px;
            border-top-right-radius: 10px;
            background: #560090;
        }

        #ulRegister li:nth-of-type(2) {
            width: 100%;
            background: url('/Resources/neonbgloginvertical.png');
            min-height: 200px;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
        }

    #loginDivContent {
        max-height: none;
        height: auto;
    }

    #divContent {
        height: auto;
    }

    #ulContent {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

        #ulContent li:first-of-type {
            width: 100%;
        }

        #ulContent li:last-of-type {
            width: 100%;
        }

    #divExistingContent {
        height: auto;
        overflow-y: auto;
    }
}

@media screen and (max-width: 420px) {
   
    #loginDivContent {
        max-height: none;
        height: auto;
        width: 100%;
    }
}
